{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "func-names": 0,
    "no-param-reassign": 0,
    "no-undef": 1,
    "max-len": 0,
    "no-unused-vars": 1,
    "vars-on-top": 1,
    "wrap-iife": 1,
    "global-require": 1
  },
  "globals": {
    "angular": 1,
    "_": 1,
    "featureToggleFrontend": 1,
    "moment": 1,
    "data": 1,
    "ENV": 1,
    "validator": 1,
    "$": 1
  }
}


