{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "func-names": 0,
    "no-param-reassign": 0,
    "no-undef": 1,
    "max-len": 0,
    "no-unused-vars": 1,
    "vars-on-top": 1,
    "global-require": 1,
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": 1,
    "import/no-dynamic-require": 1,
    "import/no-unresolved": 1
  }
}


