lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

/.idea/*
*.iml
/.vagrant/*
/node_modules/*
/logs/*
/package/
public/bower_components

config/config_auth_example.json

.DS_Store

/.vscode/*
/.vscode/launch.json