<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    
    <link href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet" />
</head>
<body>

    {{{body}}}

    <script src="/public/bower_components/jquery/jquery.min.js"></script>
    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>