<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet" />
	<link href="/css/dashboard.css" media="all" rel="stylesheet" />
    <link href="/css/toggleswitch.css" media="all" rel="stylesheet" />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
  
  <div class="container">
    <div class="left side-menu">
      <div class="header sidebar rows">
        <a class="navbar-brand logo" href="#"> 
          <img src="/images/opentable-hr-mono.png" />
        </a>
      </div>
      <div class="body rows scroll-y animated">       
        <div class="profile">
          <div class="profile-image pull-left">
            <img src="/images/user-blue.jpeg" class="media-object img-circle" alt="avatar" />
          </div>
          <div class="media-body">
            Welcome back,
            <h4 class="media-heading">
              <strong>{{user.username}}</strong>
            </h4>
          </div>
        </div>
        <div id="sidebar-menu">
          <ul>
            <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span>Dashboard</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-stats"></span>Reports</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-tower"></span>History</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-book"></span>Documentation</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="right content-page">
      <div class="header content rows-content-header">
        <div class="navbar navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li>
                  
                </li>
              </ul>
              <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...(coming soon)">
                <a href="/feature/add" class="btn btn-success" id="add-toggle" data-toggle="modal" data-target="#addModal">New Feature Toggle</a>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      <div class="body content rows scroll-y">
        <div class="page-heading animated">
          <h1>{{{pageHeader}}}</h1>
        </div>
        <div class="row">
			  {{{body}}}
          </div>
      </div>
    </div>
  </div>
    
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascript/jquery.toggleswitch.min.js"></script>
  <script src="/javascript/dashboard.js"></script>
</body>
</html>