/* 
Title:      Toggle Switch
URL:        http://github.com/jamiebicknell/Toggle-Switch
Author:     Jamie Bicknell
Twitter:    @jamiebicknell
*/

.switch {
    position:relative;
    width:37px;
    height:16px;
    overflow:hidden;
    cursor:pointer;
}
.switch .overlay {
    position:absolute;
    top:0;
    left:0;
    width:37px;
    height:16px;
    background:url('./../../images/overlay.png') no-repeat 0 0;
    z-index:9;
}
.switch span.switched {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:58px;
    height:16px;
    background:#d9d9d9 url('./../../images/switch.gif') no-repeat 0 0;
    z-index:8;
}
.switch span.off {
    left:-21px;
}
.switch input {
    display:none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .switch .overlay {
        background:url('./../../images/overlay@2x.png') no-repeat 0 0;
        background-size:37px 16px;
    }
    .switch span.switched {
        background:url('./../../images/switch@2x.gif') no-repeat 0 0;
        background-size:58px 16px;
    }
}