<table class="table">
	<trhead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>State</td>
		</tr>
	</trhead>
	<tbody>
		{{#featuretoggles}}
			<tr class={{State}}>
				<td>{{Id}}</td>
				<td>{{Name}}</td>
				<td>{{State}}</td>
			</tr>
		{{/featuretoggles}}
	</tbody>
</table>
