<table class="table">
	<trhead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>ConfigString</td>
		</tr>
	</trhead>
	<tbody>
		{{#featuretoggles}}
			<tr class={{State}}>
				<td>{{_id}}</td>
				<td>{{Name}}</td>
				<td>{{ConfigString}}</td>
			</tr>
		{{/featuretoggles}}
	</tbody>
</table>
