<table class="table">
	<trhead>
		<tr>
			<td>Name</td>
			<td>Description</td>
            <td>.co.uk</td>
            <td>.com</td>
            <td>.de</td>
            <td>.com.mx</td>
            <td>.jp</td>
		</tr>
	</trhead>
	<tbody>
		{{#featuretoggles}}
			<tr>
				<td>{{Name}}</td>
				<td>{{Description}}</td>
                {{#DomainConfiguration}}
                  <td>
                      <input type='checkbox' name='op1' id='op1' value='1' class='toggleswitch' {{toggleslider FeaturedEnabled}} />
                  </td>
                {{/DomainConfiguration}}
			</tr>
		{{/featuretoggles}}
	</tbody>
</table>

