body{padding-top:20px;}

.login-header-container {
  margin-top: 20px;
  padding-left: 20px; 
}

.login-header-container img.opentable-logo {
  width: 200px; 
}

.login-header-container img.opentable-toggle {
  width: 120px; 
}