.panel.panel-danger(ng-controller="FeaatureDangerController",ng-show="userHasPermissionsLoaded && userHasPermissions")
    .panel-heading
        h3.panel-title Danger Zone
    .panel-body
        button.btn.btn-danger(ng-click="deleteFeature()")
            span(ng-show="confirm") Confirm delete
            span(ng-hide="confirm") Delete Feature
