.panel.panel-default(ng-controller="TogglesController")
  .panel-heading
    h3.panel-title
      | Toggles
  .panel-body
    table.table.table-striped
      trhead
        tr
          th Toggle
          th
      trbody
        tr(ng-repeat="toggle in toggles")
          td {{toggle.name}}
          td 
            .pull-right
              toggle-switch(model="toggle.value" on-change="updateThisToggle(toggle)" ng-disabled="userHasPermissionsLoaded && !userHasPermissions").switch-primary
    .add-form(ng-show="isMultiToggle && userHasPermissionsLoaded && userHasPermissions && toggleSuggestions.length > 0")
      button.btn.btn-success(type="button",ng-click="setAddingToggleState(true)",ng-hide="adding") Add Toggle
      div
        form(ng-submit="addToggle()")
          select.form-control(ng-model="newToggleName" ng-options="toggleSuggestion for toggleSuggestion in toggleSuggestions" ng-show="adding")
          button.btn.btn-warning.pull-right(type="button",ng-click="setAddingToggleState(false)",ng-show="adding") Cancel
          button.btn.btn-success.pull-right(type="submit",ng-show="adding") Add
