h1.content-heading {{applicationName}}
.col-md-12
  .alert.alert-warning(ng-show="userHasPermissionsLoaded && !userHasPermissions") You do not have permissions to add or modify toggles for this application. Please contact an Owner of this application if you require this ability.
  .panel.panel-default(ng-cloak,ng-controller="ToggleListController")
    .panel-heading
      h3.panel-title Toggles
    .panel-body(ng-hide="loadingToggles")
      p(ng-hide="toggles.length>0") No toggles added yet.
      table.table(ng-show="toggles.length>0")
        trhead
          tr
            th Name
            th Full Path
            th
        trbody
          tr(ng-repeat="toggle in toggles | orderBy: 'name'")
            td
              a(ng-href="/#!/applications/{{applicationName}}/{{toggle.name}}") {{toggle.name}}
            td
              a(href="{{toggle.fullPath}}" target="_blank") {{toggle.fullPath}}
            td
              .pull-right
                toggle-switch(model="toggle.value" on-change="updateThisToggle(toggle)" ng-disabled="userHasPermissionsLoaded && !userHasPermissions").switch-primary
      #add-toggle-form.add-form(ng-show="userHasPermissionsLoaded && userHasPermissions")
        button.btn.btn-success(type="button",ng-click="setAddingToggleState(true)",ng-hide="adding") New Toggle
        div
          form(ng-submit="addToggle()")
            input.form-control(type="text",ng-model="newToggleName",placeholder="Toggle Name",focus-on="newToggleName",ng-show="adding")
            button.btn.btn-warning.pull-right(type="button",ng-click="setAddingToggleState(false)",ng-show="adding") Cancel
            button.btn.btn-success.pull-right(type="submit",ng-show="adding") Add
  .panel.panel-default(ng-controller="ApplicationOwnersController",ng-show="requiresAuthentication")
    .panel-heading
      h3.panel-title Owners
    .panel-body
      table.table(ng-hide="loadingUsers")
        trhead
          tr
            th Email
            th
        trbody
          tr(ng-repeat="user in users | orderBy: 'toString()'")
            td
              | {{user}}
            td
              .pull-right
                button.btn.btn-danger.pull-right(type="button",ng-click="revokeUser(user)",ng-show="userHasPermissions") Remove
      .add-form(ng-show="userHasPermissionsLoaded && userHasPermissions")
        button.btn.btn-success(type="button",ng-click="setAddingUserState(true)",ng-hide="addingUser") Add user
        div
          form(ng-submit="grantUser()")
            input.form-control(type="text",ng-model="newUserEmail",placeholder="User Email",focus-on="newUserEmail",ng-show="addingUser")
            button.btn.btn-warning.pull-right(type="button",ng-click="setAddingUserState(false)",ng-show="addingUser") Cancel
            button.btn.btn-success.pull-right(type="submit",ng-show="addingUser") Add
