.col-md-12
    select(ng-repeat="application in applicationList.node.nodes" ng-model="selectedApplication" ng-change="getTogglesForApplication()").form-control
      option {{application.key}}
    //input(type="search" ng-model="search.name" placeholder="Type here to filter...").form-control.dashboard-search-box
    .panel.panel-default
        .panel-heading
          h3.panel-title All Feature Toggles
        .panel-body
          table.table
            trhead
              tr
                th Name
                th State
            trbody
              tr(ng-repeat="toggle in featureToggles.node.nodes" ng-animate=" 'animate' ")
                td {{toggle.key}}
                td {{toggle.value}}
