.col-md-12
    input(type="search" ng-model="search.name" placeholder="Type here to filter...").form-control.dashboard-search-box
    .panel.panel-default
        .panel-heading
          h3.panel-title All Feature Toggles
        .panel-body
          table.table
            trhead
              tr
                th Name
                th Description
                th .co.uk
                th .com
                th .de
                th .com.mx
                th .jp
            trbody
              tr(ng-repeat="node in applicationList.nodes" ng-animate=" 'animate' ")
                td {{node.dir}}
