.col-md-12
    alert(ng-repeat="alert in alerts", type="{{alert.type}}") {{alert.msg}}
    .panel.panel-default
        .panel-heading
          h3.panel-title
            a(ng-href="/#!/applications/{{AppsService.selectedToggle.applicationName}}") Audit for {{AppsService.selectedToggle.applicationName}}
            |  >
            {{AppsService.selectedToggle.toggleName}}
        .panel-body
          table.table
            trhead
              tr
                th User
                th Action
                th Date Modified
                th 
                  .pull-right State
            trbody
              tr(ng-repeat="audit in AppsService.selectedToggle.audit" ng-animate=" 'animate' ")
                td
                  {{audit.user}}
                td
                  {{audit.action}}
                td 
                  {{audit.dateModified}}
                td 
                  .pull-right
                    toggle-switch(model="audit.boolValue").switch-primary
