doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Opentable Feature Toggles
        link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', media='all', rel='stylesheet')
        link(href='/css/dashboard.css', media='all', rel='stylesheet')
        link(href='/css/toggleswitch.css', media='all', rel='stylesheet')
        link(href='/bower_components/bootstrap-social/bootstrap-social.css', media='all', rel='stylesheet')
        link(href='/bower_components/font-awesome/css/font-awesome.css', media='all', rel='stylesheet')
        script(src='/bower_components/jquery/dist/jquery.min.js')
    body(ng-app='featureToggleFrontend' ng-cloak)
        #wrapper
            #sidebar-wrapper
                ul.sidebar-nav(ng-controller="LoginController")
                    li.sidebar-brand
                        a.navbar-brand.logo(href='/')
                            img(src='/img/opentable-hr-mono.png')
                        a(href='/auth/google',ng-if="authProvider == 'GoogleAuth'").btn.btn-block.btn-social.btn-google-plus.sign-in
                            i.fa.fa-google-plus
                            | Sign in with Google
                        a(href='/auth/azureadoauth2',ng-if="authProvider == 'AzureAuth'").btn.btn-block.btn-social.btn-windows.sign-in
                            i.fa.fa-windows
                            | Sign in with Azure AD
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-resource/angular-resource.min.js')
        script(src='/bower_components/angular-route/angular-route.min.js')
        script(src='/bower_components/angular-bootstrap/ui-bootstrap.js')
        script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
        script(src='/bower_components/angular-toggle-switch/angular-toggle-switch.min.js')
        script(src='/bower_components/angular-xeditable/dist/js/xeditable.js')
        script(src='/js/app.js')
        script(src='/js/controllers/loginController.js')
        script(src='/configuration/config.js')
