doctype html
html(lang='en' ng-app='featureToggleFrontend')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title(ng-bind="$root.title")
        link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', media='all', rel='stylesheet')
        link(href='/css/dashboard.css', media='all', rel='stylesheet')
        link(href='/bower_components/angular-xeditable/dist/css/xeditable.css' rel='stylesheet')
        link(href='/bower_components/angular-toggle-switch/angular-toggle-switch.css' rel='stylesheet')
        link(href='/bower_components/font-awesome/css/font-awesome.css', media='all', rel='stylesheet')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(type="text/javascript").
            window.user = !{JSON.stringify(user || {}, null, 2)};
    body
        #wrapper
            include ./sidebar.pug
            #page-content-wrapper
                .container-fluid
                    .row
                        .col-lg-12
                            div(ng-controller="AlertController",ng-cloak)
                                .alert(ng-show="alert",ng-class="alert.class") {{alert.message}}
                        div(ng-view='ng-view')
        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-resource/angular-resource.min.js')
        script(src='/bower_components/angular-route/angular-route.min.js')
        script(src='/bower_components/angular-bootstrap/ui-bootstrap.js')
        script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
        script(src='/bower_components/angular-xeditable/dist/js/xeditable.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/underscore/underscore-min.js')
        script(src='/bower_components/validator-js/validator.min.js')
        script(src='/bower_components/moment/min/moment.min.js')
        script(src='/bower_components/angular-toggle-switch/angular-toggle-switch.min.js')
        script(src='/js/app.js')
        script(src='/js/common/dashboard.js')
        script(src='/js/common/focus.js')
        script(src='/js/domain/user.js')
        script(src='/js/domain/category.js')
        script(src='/js/services/toggleService.js')
        script(src='/js/services/applicationService.js')
        script(src='/js/services/authorisationService.js')
        script(src='/js/services/auditService.js')
        script(src='/js/controllers/dashboardController.js')
        script(src='/js/controllers/sideBarController.js')
        script(src='/js/controllers/loginController.js')
        script(src='/js/controllers/application/applicationViewController.js')
        script(src='/js/controllers/application/featureCategoriesController.js')
        script(src='/js/controllers/application/featureCategoryController.js')
        script(src='/js/controllers/application/applicationOwnersController.js')
        script(src='/js/controllers/application/applicationDangerController.js')
        script(src='/js/controllers/application/githubController.js')
        script(src='/js/controllers/feature/featureViewController.js')
        script(src='/js/controllers/feature/featureAuditController.js')
        script(src='/js/controllers/feature/togglesController.js')
        script(src='/js/controllers/feature/featureDangerController.js')
        script(src='/js/controllers/alertController.js')
        script(src='/js/controllers/userProfileController.js')
        script(src='/configuration/config.js')
