doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Opentable Feature Toggles
    link(href='/public/bower_components/bootstrap/dist/css/bootstrap.min.css', media='all', rel='stylesheet')
    link(href='/css/dashboard.css', media='all', rel='stylesheet')
    link(href='/css/toggleswitch.css', media='all', rel='stylesheet')
    link(href='/bower_components/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css', media='all', rel='stylesheet')
    script(src='/public/bower_components/jquery/dist/jquery.min.js')
    script(type="text/javascript").
      window.user = !{JSON.stringify(user, null,2)}
  body(ng-app='featureToggleFrontend')
    #wrapper
      #sidebar-wrapper(ng-controller="SideBarController" ng-cloak)
        ul.sidebar-nav
          li.sidebar-brand
            a.navbar-brand.logo(href='/')
              img(src='/img/opentable-hr-mono.png')
          li
            .profile
                img.media-object.img-circle(ng-src='{{CurrentUser.getPicture()}}', alt='avatar')
                .profile-text
                  h4.media-heading {{CurrentUser.getFullName()}}
                  a.logout(href='/logout' ng-show="CurrentUser.requiresAuthentication()") logout
          li(ng-repeat="application in applications | orderBy:'toString()'" ng-click="console.log(application)")
            a(ng-href="/#!/applications/{{application}}" ng-class="{ active: isActive(application) }") {{application}}
          .add-form
            button.btn.btn-success(type="button",ng-click="setAddingApplicationState(true)",ng-hide="adding") Add
            div
              form(ng-submit="addApplication()")
                input.form-control(type="text",ng-model="newApplicationName",placeholder="Application Name",focus-on="newApplicationName",ng-show="adding")
                button.btn.btn-warning.pull-right(type="button",ng-click="setAddingApplicationState(false)",ng-show="adding") Cancel
                button.btn.btn-success.pull-right(type="submit",ng-show="adding") Add
      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              div(ng-controller="AlertController",ng-cloak)
                .alert(ng-show="alert",ng-class="alert.class") {{alert.message}}
            div(ng-view='ng-view')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-resource/angular-resource.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/underscore/underscore-min.js')
    script(src='/bower_components/validator-js/validator.min.js')
    script(src='/js/app.js')
    script(src='/js/common/lib/jquery.toggleswitch.min.js')
    script(src='/js/common/dashboard.js')
    script(src='/js/common/focus.js')
    script(src='/js/domain/user.js')
    script(src='/js/services/toggleService.js')
    script(src='/js/services/authorisationService.js')
    script(src='/js/services/auditService.js')
    script(src='/js/controllers/dashboardController.js')
    script(src='/js/controllers/sideBarController.js')
    script(src='/js/controllers/toggleController.js')
    script(src='/js/controllers/applicationController.js')
    script(src='/js/controllers/toggleListController.js')
    script(src='/js/controllers/applicationOwnersController.js')
    script(src='/js/controllers/alertController.js')
    script(src='/configuration/config.js')